<ion-header>
  <ion-navbar color="primary" no-border-bottom>
    <ion-title>Property Entity Records (Offline)</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="bg-white">
  <div class="m-b-sm">

    <div padding style="text-align: center; margin-top: 60px" *ngIf="entityRecords.length === 0 && isBlankPost === 0">
      <ion-spinner color="primary"></ion-spinner>
    </div>

    <div *ngIf="entityRecords.length === 0 && isBlankPost === 1" class="text-center m-t-lg" padding>
      <div>
        <img src="assets/icon/property.svg" class="img-svg" alt="Street">
      </div>
      <div class="m-t-lg">
        <h3 class="text-thin">No property entity record at the moment.</h3>
      </div>
    </div>
    <div *ngIf="entityRecords.length > 0">

      <ion-row (click)="showThisRecord(data)" class="wrapper-sm b-b b-light" *ngFor="let data of entityRecords">
        <ion-col col-auto>
          <ion-avatar item-start>
            <img class="thumb-sm" src="assets/icon/property.svg">
          </ion-avatar>
        </ion-col>
        <ion-col class="text-ellipsis-flex">
          <div class="l-h">
            <div class="{{ 'font-bold' }}">{{ data.entity.entity_name }}</div>
            <div class="text-sm text-black text-ellipsis">{{ data.entity.entity_group }} > {{ data.entity.entity_category }}</div>
          </div>
        </ion-col>
        <ion-col text-right col-auto>
          <div class="span text-xs text-muted m-t-xs">{{ data.property_photos.length }} {{ data.property_photos.length > 1 ? 'photos' : 'photo' }}</div>
        </ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>
