<ion-header>
  <ion-navbar color="primary" no-border-bottom>
    <ion-title>Offline Stats</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="pushToCloud()">
        <ion-icon name="cloud-upload"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="bg-white">
  <div padding style="text-align: center; margin-top: 60px" *ngIf="menuItems.length === 0">
    <ion-spinner color="primary"></ion-spinner>
  </div>
  <ion-content class="bg-white">
    <ion-row text-center>
      <ion-col (click)="openThis(menu)" col-6 *ngFor="let menu of menuItems" class="b-r b-b b-light">
        <div class="wrapper-sm pos-rlt">
          <!--  <ion-icon name="md-create" class="pos-abt top right"></ion-icon> -->
          <div class="text-center">
            <img src="{{ menu.img }}" class="img-svg" alt="">
          </div>
          <div class="l-h m-b-sm">
            <div class="font-bold">{{ menu.title }}</div>
            <div class="text-sm text-muted">{{ menu.description }}</div>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-content>